body {
    background-color: thistle;
    padding: 15px;
}
h1 {
    color: darkgreen;
    font-style: italic;
    text-align: center;
    background-color: #d3d4db;
}

h3 {
    color: olivedrab;
    font-style: italic;
    padding-top: 10px;
}

.ingredients {
    font-size: 107%;
    font-weight: bold;
    color: #736a54;
}

.instructions {
    font-size: 110%;
    font-weight: bold;
    color: #545e39;
}
.instructions li {
    padding: 10px;
}
.ingredients li {
    padding: 3px;
}
.btm{
    text-align: center;
}